
*{margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;}

body {background-image: url('images/pozadina2.jpg');
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;}

.menu{font-weight:100;background:#ffeb3bdb;width:190px;height:100%;padding-right:50px;position:fixed;z-index:100;-webkit-box-shadow:3px 0px 7px 0px rgba(0,0,0,0.2);box-shadow:3px 0px 7px 0px rgba(0,0,0,0.2);left:-130px;transition:all .3s;-webkit-transition:all .3s;color:#222}.menu:hover,.menu:focus{transform:translate3d(130px, 0, 0);animation-timing-function:1s ease-in}.menu .title{top:50%;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);transform:rotate(-90deg);right:-35px;color: black; opacity: 0.6; font-size:20px; font-family: arial; letter-spacing: 5px; text-transform: uppercase;}.menu .nav{position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-weight:100}.menu .nav li{padding-bottom:30px;list-style-type:none}.menu .nav li a{display:block;text-decoration:none;color:inherit;transition:all .3s;-webkit-transition:all .3s; padding-left: 20px; font-family: arial; text-transform: uppercase; font-size: 12px;}.menu .nav li a:hover{opacity: 0.6; background-color: none !important;}

#igra {background-color: #ffeb3b8c;
    margin-top: 18px;
    width: 25%;
    transition: 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 45px;
	text-decoration: none;
	border: 2px solid #ffeb3b;
	box-shadow: 2px 2px 14px rgba(0,0,0,0.6);
	color: #000;
	text-align: center;
    padding: 7px 10px;
    border-radius: 4px;}

th {
	font-weight: bold;
	text-transform: uppercase;
    letter-spacing: 1px;
	color: #000;
	text-align: center;
	border: 2px solid #000 !important;
    padding: 7px 15px !important;
	vertical-align: middle !important;}

.btn-warning {background-color: #333 !important;}
.btn-danger {background-color: #c72a26 !important;
	border: 1.3px solid #333 !important;}

/*tr {background-color: #ffeb3b8c !important;}*/
.table-striped>tbody>tr:nth-of-type(odd) {background-color: #ffeb3b94 !important;
	border-bottom: 2px solid #000 !important;}

table {background-color: #ffeb3b8c !important;}

td {border: 2px solid #000 !important;
	vertical-align: middle !important;
	color: #000;
	font-size: 12pt;}

main {
	width: 50%;
	float: right;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;}

th {text-align: center !important;}

#logo {
	width: 50%;
	float: left;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;}

#logo img {width: 55%;}

#reg_div {padding-left: 10%;
	width: 100%;
	margin-top: 45px;}

#log_div {padding-left: 10%;
	width: 100%;}

.userId {display: none;}

.records_content {height: 504px;
	overflow: auto;}

input, select {border: 2px solid #ffeb3b;
	width: 50%;
	padding: 7px 10px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.4);
	margin-bottom: 10px;
	box-shadow: 2px 2px 14px rgba(0,0,0,0.6);
	transition: 0.3s;}

.gumb {background-color: #ffeb3b8c;
	margin-top: 18px;
	width: 25%;
	transition: 0.3s;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	margin-bottom: 45px;}

#linija {
	width: 25%;
	background-color: #000;
	height: 3px;}

main h1 {margin-bottom: 25px;}

.gumb:hover {background-color: #ffeb3b;}
input:hover {background-color: #fff;}

#panel h1 {text-align: center;
	font-size: 24pt;
	text-transform: uppercase;
	font-weight: bold;
	margin: 35px auto 50px auto;}

#panel {text-align: center;}
#panel select {text-align: center;}

option {text-align: center;}

.form-control {display: block;
    width: 100%;
    color: #000 !important;
    border: 1px solid #1e1d1d !important;
    background-color: #ffeb3b94 !important;}

input[type=checkbox]{
	width: auto;
    box-shadow: none;
    vertical-align: text-bottom;
    margin-left: 6px;
}
    
.records_content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

.records_content::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(245, 245, 245, 0.7);
    border-radius: 5px;

}

.records_content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffeb3b;
}

header{
	margin-bottom: 50px;
	padding: 10px;
	background-color: rgba(255,235,59, 0.75);
	height: 40px;
	border-radius: 0px 0px 5px 5px;
	border: 1.5px solid black;
	border-top: none;
}

#welcomeUser {
	float: left;
	display: block;
}

#logoutButton {
	float:right;
	text-decoration: none;
	color: black;
}

#logoutButton:hover {
	color: gray;
}